
@{
    ViewBag.Title = "Proveedor";
    <LINK REL=StyleSheet HREF="Site.css" TYPE="text/css" MEDIA=screen>
}

<form>
    <input type="text" class="form-control" placeholder="Buscar" id="buscar2" /><button class="btn btn-primary" id="bus">Buscar</button>


    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" id="agregar">
        Agregar<b> +</b>
    </button>

    <!-- Modal -->
    <center>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title  label label-success" id="exampleModalLabel">Agregar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b> Nombre: </b><input type="text" class="form-control" />
                        <hr />
                        <br />
                        <b>Apellido: </b> <input type="text" class="form-control" />
                        <hr />
                        <br />
                        <b>Telefono:</b><input type="text" class="form-control" />
                        <hr />
                        <br />
                        <b>Fecha:</b> <input type="text" class="form-control" />
                        <hr />
                        <br />
                        <b>Cantidad:</b> <input type="text" class="form-control" />
                        <hr />
                        <br />
                        <b>Precio:</b><input type="text" class="form-control" />
                        <hr />
                        <br />
                        <b>Categoria:</b> <input type="text" class="form-control" />
                        <hr />
                        <br />
                        <b>Total:</b><input type="text" class="form-control" />
                        <hr />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </center>
    <table class="table table-striped" id="tabla">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido paterno</th>

                <th scope="col">Apellido materno</th>
                <th scope="col">Telefono</th>
                <th scope="col">Direccion</th>
                <th scope="col">Empresa</th>
                <th scope="col">Producto</th>


                <th scope="col"> Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Carlos</td>
                <td>Martinez</td>
                <td>Rodriguez</td>
                <td>809-965-5230</td>
                <td>Calle el rosal #25</td>
                <td>Ninguna</td>
                <td>Pelota</td>


                <td><button class="btn btn-success ">Editar</button> | <button class="btn btn-danger ">Eliminar</button>  </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Carlos</td>
                <td>Martinez</td>
                <td>Rodriguez</td>
                <td>809-965-5230</td>
                <td>Calle el rosal #25</td>
                <td>Ninguna</td>
                <td>Ropa</td>


                <td><button class="btn btn-success ">Editar</button> | <button class="btn btn-danger ">Eliminar</button>  </td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>Carlos</td>
                <td>Martinez</td>
                <td>Rodriguez</td>
                <td>809-965-5230</td>
                <td>Calle el rosal #25</td>
                <td>Ninguna</td>
                <td>Calzado</td>



                <td><button class="btn btn-success ">Editar</button> | <button class="btn btn-danger ">Eliminar</button>  </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Carlos</td>
                <td>Martinez</td>
                <td>Rodriguez</td>
                <td>809-965-5230</td>
                <td>Calle el rosal #25</td>
                <td>Ninguna</td>
                <td>Art Hogar</td>



                <td><button class="btn btn-success ">Editar</button> | <button class="btn btn-danger ">Eliminar</button>  </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Carlos</td>
                <td>Martinez</td>
                <td>Rodriguez</td>
                <td>809-965-5230</td>
                <td>Calle el rosal #25</td>
                <td>Ninguna</td>
                <td>Jardineria</td>



                <td><button class="btn btn-success ">Editar</button> | <button class="btn btn-danger ">Eliminar</button>  </td>
            </tr>

            </tr>
        </tbody>
    </table>

